@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@400;500;700;800&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//17181c
//202125
:root {
  --color-primary: #202125;
  --color-background: #fafafa;
  --color-content-primary: #202125;
  --color-content-background: white;
  --color-content2-background: white;
  --color-menu-background: #fff;
  --color-form-background: #f9f9f9;
  --color-search-background: #f9f9f9;
  --color-modal-background: white;
}

[data-theme="dark"] {
  --color-primary: #fff;
  --color-background: #202125;
  --color-content-background: #202125;
  --color-content2-background: linear-gradient(
    183deg,
    rgba(33, 34, 38, 1) 0%,
    rgba(24, 25, 29, 1) 35%,
    rgba(24, 25, 29, 1) 100%
  );
  --color-menu-background: #202125;
  --color-form-background: #0e0e0f;
  --color-search-background: #202125;
  --color-modal-background: #202125;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #dc9763 #17181c;
  border-radius: 9999px;
}

html ::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 0.4vw;
}

html ::-webkit-scrollbar-thumb {
  background-color: #dc9763;
  background-clip: padding-box;
  border-radius: 9999px;
}

///////MANAGER//////////

.globalMenuTopManager {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

.globalMenuLeftManager {
  position: fixed;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  background-color: var(--color-menu-background);
  color: var(--color-primary);
}

.globalMainManager {
  color: #17181c;
  max-width: 1100px;
  border-radius: 15px;
  margin: 1rem auto;
  min-height: 80vh;
  background-color: var(--color-content-background);
  background: var(--color-content2-background);
  color: var(--color-primary);
  box-shadow: 2px 8px 10px rgb(0 0 0 / 15%);
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 20px;
  color: red;
}

.globalFooterManager {
  max-width: 1100px;
  margin: auto;
}

.globalSearchInput {
  input,
  button {
    background-color: var(--color-form-background);
    color: var(--color-primary);
    border-radius: 15px;
    padding: 10px;
    border: 0;
    outline: 0;
  }
  button {
    cursor: pointer;
    margin-left: 10px;
  }
}

.globalForm {
  input,
  button,
  select {
    margin: 1rem 0px;
    padding: 18px 10px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    background-color: var(--color-form-background);
    color: var(--color-primary);
  }
  button {
    margin-top: 40px;
    cursor: pointer;
    width: 100px;
    z-index: 99;
  }
}
.categoryLibrary {
  button {
    color: var(--color-primary);
  }
}
.quill {
  margin: 1rem 0px;
  width: 100% !important;
}
.editor {
  height: 300px;
  margin-bottom: 110px;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0px !important;
}
.ql-editor {
  width: 100% !important;
}
.ql-editor .ql-video {
  height: 250px !important;
  width: auto !important;
}
.ql-snow .ql-tooltip {
  position: absolute !important;
  left: 0% !important;
}

.ql-toolbar.ql-snow .ql-picker-label {
  margin-top: 12px !important;
}

svg {
  color: var(--color-primary);
}

.mantine-152suqo .ql-image-uploading img {
  display: none !important;
}
.mantine-152suqo {
  margin: 1rem 0px;
  border-radius: 15px;
}
.mantine-9edjvx {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.mantine-152suqo,
.mantine-9edjvx,
.mantine-bdajhj {
  border: 0px solid var(--color-form-background);

  background-color: var(--color-form-background);
  color: var(--color-primary);
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--color-primary) !important;
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}

.mantine-gi9dos {
  margin: 0px !important;
}

.ql-toolbar.ql-snow {
  border-radius: 15px !important;
}

.globalSpace {
  width: 95%;
  margin: auto;
  border-radius: 15px;
  background-color: var(--color-form-background);
  color: var(--color-primary);
  padding: 15px;
}
