@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@400;500;700;800&display=swap");
html,
body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 14px;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #202125;
  --color-background: #fafafa;
  --color-content-primary: #202125;
  --color-content-background: white;
  --color-content2-background: white;
  --color-menu-background: #fff;
  --color-form-background: #f9f9f9;
  --color-search-background: #f9f9f9;
  --color-modal-background: white;
}

[data-theme="dark"] {
  --color-primary: #fff;
  --color-background: #202125;
  --color-content-background: #202125;
  --color-content2-background: linear-gradient(
    183deg,
    rgba(33, 34, 38, 1) 0%,
    rgba(24, 25, 29, 1) 35%,
    rgba(24, 25, 29, 1) 100%
  );
  --color-menu-background: #202125;
  --color-form-background: #0e0e0f;
  --color-search-background: #202125;
  --color-modal-background: #202125;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #dc9763 #17181c;
  border-radius: 9999px;
}

html ::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 0.4vw;
}

html ::-webkit-scrollbar-thumb {
  background-color: #dc9763;
  background-clip: padding-box;
  border-radius: 9999px;
}

///////MANAGER//////////

.globalMenuTopManager {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}

.globalMenuLeftManager {
  position: fixed;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  background-color: var(--color-menu-background);
  color: var(--color-primary);
}

.globalMainManager {
  color: #17181c;
  max-width: 1100px;
  border-radius: 15px;
  margin: 1rem auto;
  background-color: var(--color-content-background);
  background: var(--color-content2-background);
  color: var(--color-primary);
  box-shadow: 2px 8px 10px rgb(0 0 0 / 15%);
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 20px;
  color: red;
}

.globalFooterManager {
  max-width: 1100px;
  margin: auto;
}

.globalSearchInput {
  input,
  button {
    background-color: var(--color-form-background);
    color: var(--color-primary);
    border-radius: 15px;
    padding: 10px;
    border: 0;
    outline: 0;
  }
  button {
    cursor: pointer;
    margin-left: 10px;
  }
}

.globalForm {
  input,
  button,
  select {
    margin: 1rem 0px;
    padding: 18px 10px;
    border-radius: 12px;
    border: 0;
    outline: 0;
    background-color: var(--color-form-background);
    color: var(--color-primary);
  }

  button {
    margin-top: 40px;
    cursor: pointer;
    width: 100px;
    z-index: 99;
  }
}
.categoryLibrary {
  button {
    color: var(--color-primary);
  }
}

.globalSpace {
  width: 95%;
  border-radius: 15px;
  margin: auto;
  background-color: var(--color-form-background);
  color: var(--color-primary);
  padding: 15px;
}

.sun-editor .se-toolbar {
  border: 0px !important;
  outline: 0px !important;
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.se-wrapper-inner {
  font-size: 14px !important;
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.sun-editor .se-resizing-bar {
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.sun-editor .se-tooltip {
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.sun-editor .se-wrapper-inner {
  font-family: "Montserrat", sans-serif !important;
}
.sun-editor {
  margin: 1rem 0px;
  border: 0px !important;
}
.sun-editor-common {
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.se-dialog-form input {
  background-color: #f9f9f9 !important;
  color: #202125;
}

.sun-editor .se-loading-box {
  z-index: 0 !important;
}
.loginContent {
  background-color: var(--color-form-background) !important;
  color: var(--color-primary) !important;
}
.loginContent input {
  background-color: var(--color-content-background);
}
.containerCategorys,
.contentImgs {
  background-color: var(--color-form-background);
  color: var(--color-primary);
}

.bt {
  margin-right: 10px;
  cursor: pointer;
  background-color: #dc9763;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: white;
}
.btnSave {
  cursor: pointer;
  margin: 1rem 0px;
  padding: 18px 10px;
  border-radius: 12px;
  border: 0;
  outline: 0;
  background-color: var(--color-form-background);
  color: var(--color-primary);
  margin-left: 10px;
}
